<!DOCTYPE html>

<html ng-app='AutoApp'>
    <head>
        <title>AutoStop{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="dimas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/style.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <script src="//code.jquery.com/jquery-1.11.1.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js" type="text/javascript"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    </head>
    <body >
        <!-- ng-controller="AutoBaseCtrl" -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AutoStop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/users/">Поездки</a></li>
                    <li><a href="#about">Машины</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Static top</a></li>
                    <li class="active"><a href="./">Fixed top</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="container ">

            <div id="id_message_place" class=" container-fluid " data-alerts="alerts"
                    data-titles="{&quot;warning&quot;: &quot;&lt;em&gt;Warning!&lt;/em&gt;&quot;}"
                    data-ids="myid"
                    data-fade="10000">
                <div class="row">
                    <div ng-controller="AlertDemoCtrl" id="alert_container">
                        <alert ng-repeat="alert in alerts" type="{$alert.type$}" close="closeAlert($index)">{$alert.msg$}</alert>
                    </div>
                </div>
            </div>

                {% if messages %}
                {% endif %}

                {% block content %} Empty page {% endblock %}

            <p><hr/></p>
            <footer class="row">
                <div class="span6">
                    <p>autostop.com (c) </p>
                </div>
            </footer>

        </div>

        <script type="text/javascript" src="/static/js/app.js"></script>
        <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
        <script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.11.0.js"></script>
        <script type="text/javascript">
            // Add the CSRF Token
            var AutoApp = angular.module('AutoApp', ['ui.bootstrap']);

            AutoApp.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{$');
                $interpolateProvider.endSymbol('$}');
            });
            AutoApp.config(['$httpProvider',
                function($httpProvider) {
                    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
                    // $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
                    // $httpProvider.defaults.transformRequest = [

                    //     function(data) {
                    //         /**
                    //          * The workhorse; converts an object to x-www-form-urlencoded serialization.
                    //          * @param {Object} obj
                    //          * @return {String}
                    //          */
                    //         var param = function(obj) {
                    //             var query = '';
                    //             var name, value, fullSubName, subName, subValue, innerObj, i;

                    //             for (name in obj) {
                    //                 value = obj[name];

                    //                 if (value instanceof Array) {
                    //                     for (i = 0; i < value.length; ++i) {
                    //                         subValue = value[i];
                    //                         fullSubName = name + '[' + i + ']';
                    //                         innerObj = {};
                    //                         innerObj[fullSubName] = subValue;
                    //                         query += param(innerObj) + '&';
                    //                     }
                    //                 } else if (value instanceof Object) {
                    //                     for (subName in value) {
                    //                         subValue = value[subName];
                    //                         fullSubName = name + '[' + subName + ']';
                    //                         innerObj = {};
                    //                         innerObj[fullSubName] = subValue;
                    //                         query += param(innerObj) + '&';
                    //                     }
                    //                 } else if (value !== undefined && value !== null) {
                    //                     query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
                    //                 }
                    //             }

                    //             return query.length ? query.substr(0, query.length - 1) : query;
                    //         };

                    //         return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
                    //     }
                    // ]; test
                }
            ]);


        </script>
        <script type="text/javascript" src="/static/js/appServices.js"></script>
        <script type="text/javascript" src="/static/js/controller/GeneralCtrl.js"></script>
        {% block scripts %}

        {% endblock %}
    </body>
</html>

