<div class="panel panel-default" ng-controller="HomeController">
    <div class="panel-body">
          <div style="height: 305px">
              <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="{$slide.image$}" style="margin:auto;">
                  <div class="carousel-caption">
                    <h4>Slide {$$index$}</h4>
                    <p>{$slide.text$}</p>
                  </div>
                </slide>
              </carousel>
            </div>

    </div>
    <div class="panel-footer">

    </div>
</div>
